@font-face {
	font-family: 'Gilroy-bold';
	src: url(../fonts/gilroy-bold.woff) format('woff');
	src: url(../fonts/gilroy-bold.woff2) format('woff2');
}
@font-face {
	font-family: 'Gilroy-medium';
	src: url(../fonts/Gilroy-Medium.woff) format('woff');
	
}