.body {
	background-color: #F6F6F6;
}
.white-wrapper{
	background-color: #FFFFFF;
}
.main{
	width: 944px;
	margin: 0 auto;
}

.main-nav {
	font-family: Gilroy-Bold;
}

.star {
	width: 21px;
	height: 21px;
	display: inline-block;
	background-image: url(../portfolio_images/diagrams.png);

}

.button {
	width: 42px;
	height: 42px;
	display: inline-block;
	background-image: url(../portfolio_images/spriteSocialMedia.png);
}

.button.linkedIn {
	background-position: 0px 0px;
}
.button.insta {
	background-position: -104px 0px;
}
.button.behance {
	background-position: -204px 0px;
}
.button.ball {
	background-position: -304px 0px;
}

.star.dark {
	background-position: 0px 0px;
}
.star.light {
	background-position: -23px 0px;
}

.skills .item {
	float: left;
}

.cls {
	clear: both;
}

.item {
	text-align: center;
}

.ref {
	text-decoration: underline;
	text-align: center;
	color: black;
}
 .buttonMessage {
	width: 181px;
	height: 42px;
	color: white;
	border: 1px solid black;
	background-color: black;
	text-align: center;
	border-radius: 50px;
	position: relative;
	left: 382px;
 }
 .buttonMessage:active {
	background-color: bisque;
	border: 1px solid bisque;
	color: black;
 }
nav {
	height: 88px;
	border-bottom: 1px solid black;
	font-family: 'Gilroy-Bold';
	font-size: 18px;
		
}
nav > div {
	float: left;
	width: 20%;
	height: 88px;
	text-align: center;
	vertical-align: middle;
	line-height: 66px;
}

nav > div:first-child{
	text-align: left;
}

nav > :last-child{
	text-align: right;
}

nav a {
	font-family: 'Gilroy-bold';
	color: #828282;
	text-decoration: none;
}
.page-title h1 {
	font-family: 'Gilroy-Bold';
	font-size: 48px;
	float: left;
	line-height: 57px;
}
.page-title .title {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	margin: 0 auto;
	margin-top: 0px;
	width: 160px;
	margin-top: 59px;
	padding-left: 59px;
	line-height: 22px;
}
.page-title .lang-choice {
	font-family: 'Gilroy-Bold';
	font-size: 16px;
	color: #828282;
	float: right;
	transform: rotate(270deg);
	margin-right: -21px;
	margin-top: -37px;
}
.page-title .lang-choice .active {
	color: #000000;
}


